.ui-bar {
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: rgb(44, 44, 44);
    align-items: center;
    justify-content: center;
}

.ui-button {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    top: 1478px;
}
